@import url(https://fonts.googleapis.com/css?family=Notable);

.jumbo {
    background-color: black;
    background-size: 100%;
    position: relative; 
    margin: -20px 0px 20px 0px; 
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: rgb(49, 60, 90);
}

.jumbo h1 {
    padding: 20px 0px 20px 0px;
    font-size: 60px;
    background-color: rgb(229, 232, 235);
    font-family: 'Notable', sans-serif;;
}

.jumbo h2 {
    font-family: cursive;
    color:  whitesmoke;
    font-size: 25px;
}